#search-page {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#searchNav {
  background: #263a29a9;
}

.nav-container {
  min-width: 95%;
}

#park-search {
  background: rgba(242, 227, 219, 0.5);
  position:absolute;
  top: 25%;
  left: 25%;
  padding: 4em;
  width: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.2em;
}

p {
  font-size: 1.3em;
}

form {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.form-control {
  width: 80%;
  margin: auto;
}

.temp {
  position: absolute;
  top: 80%;
  left: 45%;
  background-color: black;
  padding: 2px;
}

.type-search {
  margin-top: 20px;
}

#res {
  margin-top: 5%;
}

.resLink {
  color: black;
  font-size: 1.3em;
}

#search-btn {
  margin-top: 30px;
  background-color: #263a2980;
  color: rgba(242, 227, 219);
  border: none;
}

#search-btn:hover {
  background-color: #263a29a9;
  color: white;
}