#search-page {
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

#searchNav {
  background: #263a29a9;
}

.s-t {
  /* max-width: 1000px; */
  text-align: center;
  font-weight: 600;
  /* background: rgba(242, 227, 219, 0.5); */
  padding: 10px;
  margin: auto;
  /* background-color: rgba(242, 227, 219, 0.5); */
  /* color: rgba(242, 227, 219, 0.8); */
  /* color: #f2e3db; */
  /* color: rgb(24, 27, 30); */
  color: rgba(242, 227, 219, .9);
  text-shadow: 0px 0px 10px rgba(52, 52, 52, 0.8);
  /* text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3); */
}

.nav-container {
  min-width: 95%;
}

#park-search {
  background: rgba(242, 227, 219, 0.5);
  /* position:absolute; */
  /* top: 25%;
  left: 25%; */
  /* padding: 4em; */
  padding: 4%;
  /* width: 50%; */
  margin-bottom: 20px;
}

@media screen and (min-width: 601px) {
  #search-title {
    margin: 4% auto 5% auto;
  }
  .s-t {
    font-size: 4em;
    letter-spacing: 4px;
  }
  h2 {
    font-size: 2.2em;
  }
  p {
    font-size: 1.3em;
  }
  #park-search {
    width: 50%;
    /* top: 35%; */
    left: 25%;
  }
}

@media screen and (max-width: 600px) {
  #search-title {
    margin: 10% auto 10% auto;
  }
  .s-t {
    font-size: 2em;
    letter-spacing: 2px;
  }
  h2 {
    font-size: 1.8em;
  }
  p {
    font-size: 1em;
  }
  #park-search {
    width: 80%;
    /* top: 25%;
    left: 10%; */
  }
}

@media screen and (max-width: 520px) {
  #park-search {
    width: 100%;
    top: 25%;
    left: 0;
  }
}

form {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.form-control {
  width: 80%;
  margin: auto;
}

.temp {
  position: absolute;
  top: 80%;
  left: 45%;
  background-color: black;
  padding: 2px;
}

.type-search {
  margin-top: 20px;
}

#filters {
  margin-top: 20px;
}

#filters p {
  margin: 20px 0 10px 0;
}

#filters .type-search {
  margin: 0;
}

#res {
  margin-top: 5%;
}

.resLink {
  color: black;
  font-size: 1.3em;
}

#search-btn {
  margin-top: 30px;
  background-color: #263a2980;
  color: rgba(242, 227, 219);
  border: none;
  height: 45px;
  width: 60px;
  font-size: 1.3em;
}

#search-btn:hover {
  background-color: #263a29a9;
  color: white;
}