#search-page {
  /* background: url('/src/assets/search-background.png');
  background-repeat: repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%; */
  overflow: hidden;
}

#searchNav {
  background: #263a29a9;
}

#park-search {
  background: rgba(242, 227, 219, 0.5);
  position:absolute;
  top: 25%;
  left: 25%;
  padding: 4em;
  width: 50%;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.2em;
}

p {
  font-size: 1.3em;
}

form {
  margin-bottom: 20px;
  font-size: 1.3em;
}

.form-control {
  width: 80%;
  margin: auto;
}

.temp {
  position: absolute;
  top: 80%;
  left: 45%;
  background-color: black;
  padding: 2px;
}

.type-search {
  margin-top: 10px;
  /* margin-bottom: 10px;; */
}

#res {
  margin-top: 5%;
}

.resLink {
  color: black;
  font-size: 1.3em;
}

#search-btn {
  margin-top: 10px;
}