#media-pg {
  font-family: 'Raleway', sans-serif;
  margin-top: 84px;
}

#media-nav {
  background: #2f4834;
}

.m-head {
  color: #F2E3DB;
  padding-left: 20px;
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: 550;
}

.img-tiles {
  padding: 20px;
}

@media screen and (min-width: 601px) {
  .gallery-sm {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
  .gallery-xs {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .gallery-md {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
  .gallery-xs {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 370px) {
  .gallery-sm {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
  .gallery-xs {
    height: auto;
    padding: 20px;
  }
}

@media screen and (min-width: 801px) {
  .media-sm {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
  .media-xs {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  .media-md {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
  .media-xs {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .media-sm {
    height: 0px;
    overflow: hidden;
    padding: 0;
  }
  .media-xs {
    height: auto;
    padding: 20px;
  }
}

.ovContainer {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f7ece7e0;
}

.ovContainer:hover .overlay {
  opacity: 1;
}

.overlay .tile-a {
  position: absolute;
  width:80%;
  top: 45%;
  left: 10%;
  text-align: center;
}

.m-card {
  background-color: #f7ece7b1;
  max-height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.m-card::-webkit-scrollbar {
  display: none;
}

.tile-a {
  color: black;
}
