#camp-pg {
  background-color: #9a887c;
  font-family: 'Raleway', sans-serif;
}

.camp-p {
  padding: 10px;
}

.c-headers {
  font-weight: 600;
  padding-left: 10px;
  margin-top: 20px;
}

.camp-hrs {
  padding-left: 10px;
}

#hr-table {
  margin-bottom: 30px;
}

#reserv {
  max-width: 700px;
  padding-left: 10px;
}

#mkres {
  font-size: 1.3rem;
  color: #6a5b52;
  padding-left: 10px;
}

#amenities {
  /* max-width: 600px; */
  font-size: 1.3rem;
  border: #F2E3DB;
  margin-left: 8px;
}

#c-fees {
  font-size: 1.3rem;
  border: #d0c2b8;
  /* margin-left: 10px; */
}

#campsites {
  max-width: 250px;
}

.c-info {
  background-color: #F2E3DB;
}

#add-info {
  padding-left: 10px;
}

#add-info .camp-p {
  padding-left: 0px;
}

.camp-li {
  font-size: 1.3em;
}