#camp-pg {
  /* background-color: black; */
  font-family: 'Raleway', sans-serif;
  height: 100%;
}

#camp-cont {
  max-width: 100%;
  margin: 56px 0 0 0;
}

#camp-nav {
  background-color: #ecdbd2;
  padding: 0;
}

.cust-tab {
  color: black;
  font-weight: 450;
  /* padding-left: 0;
  padding-right: 0;
  margin: 2px 0px 2px 16px; */
  padding: 24px 16px 24px 16px;
}

.cust-tab:hover {
  color: #785b49;
}

.cust-tab.active {
  /* color: #5c5048; */
  /* color: #ecdbd2; */
  /* background-color: #5c5048; */
  color: #4b3629;
  background-color: #F2E3DB;
  border-left: 6px solid #5a4334;
  /* border-bottom: 2px solid #5c5048 !important;
  border-radius: 0px !important; */
}

#camp-pane {
  background-color: #F2E3DB;
  /* padding: 0; */
}

.camp-p {
  padding: 10px;
}

.c-headers {
  font-weight: 600;
  padding-left: 10px;
  margin-top: 20px;
}

.camp-hrs {
  padding-left: 10px;
}

#hr-table {
  margin-bottom: 30px;
}

#reserv {
  max-width: 700px;
  padding-left: 10px;
}

#mkres {
  font-size: 1.3rem;
  color: #6a5b52;
  padding-left: 10px;
}

#amenities {
  /* max-width: 600px; */
  /* font-size: 1.3rem; */
  border: #F2E3DB;
  margin-left: 8px;
}
@media screen and (min-width: 601px) {
  #amenities td {
    font-size: 1.3rem;
  }
  #c-fees {
    font-size: 1.3em;
  }
  .camp-li {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 600px) {
  #amenities td {
    font-size: 1em;
  }
  #c-fees {
    font-size: 1em;
  }
}
@media screen and (max-width: 400px) {
  #camp-pane .tab-content {
    padding: 0px;
  }
}


#c-fees {
  /* font-size: 1.3rem; */
  border: #d0c2b8;
  /* margin-left: 10px; */
}

#campsites {
  max-width: 250px;
}

.c-info {
  background-color: #F2E3DB;
}

#add-info {
  padding-left: 10px;
}

#add-info .camp-p {
  padding-left: 0px;
}

