#park-page {
  background-color: #88AA78;
  background-size: cover;
}

#park-nav {
  background: #2f4834;
}

.navbar-brand{
  color: #F2E3DB;
}

.pLinks {
  padding-right: 10px;
  color:#F2E3DB;
  text-decoration: none;
}

/* #alert {
  position: absolute;
  max-width: 100%;
} */

#main{
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 100%;
}

#desc {
  /* margin: auto; */
  padding-left: 5%;
  padding-right: 5%;
}

#description {
  margin-top: 10%;
  margin-bottom: 4%;
  /* background-color: #6F5C4F; */
  padding: 2%;
}

#description p {
  margin-top: 0.8rem;
}

.actCol {
  padding: 0;
  max-width: 30%;
}

#act {
  padding-left: 5%;
  padding-right: 0;
}

/* #info-tabs {
  padding-bottom: 50px;

} */

.nav-tabs {
  --bs-nav-tabs-border-color: #F2E3DB;
  --bs-nav-tabs-link-active-bg: #F2E3DB;
  --bs-nav-tabs-link-hover-border-color: #F2E3DB;
  --bs-nav-tabs-link-active-color: black;
  --bs-nav-tabs-link-active-border-color: #F2E3DB;
  --bs-nav-link-color: #F2E3DB;
  --bs-nav-link-hover-color: #F2E3DB;
}

.tab-content {
  padding: 10px;
  border-bottom: #000;
  border-bottom-width: 10px;
  min-height: 200px;
}

